registry=https://npm.pkg.st/
store-dir=./.dev/store/pnpm
fund=false
maxsockets=500
fetch-timeout=60000
fetch-retries=5
fetch-retry-maxtimeout = 120000
fetch-retry-mintimeout = 500
node-linker=isolated
auto-install-peers=true
recursive-install=true
side-effects-cache=true
engine-strict=false
package-import-method=auto
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*@prettier/plugin-*
public-hoist-pattern[]=prettier-plugin-*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*lit*
public-hoist-pattern[]=*@esm-bundle*
public-hoist-pattern[]=*@open-wc*
public-hoist-pattern[]=*@web*
public-hoist-pattern[]=*@storybook*
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*addon*
public-hoist-pattern[]=*axe*
public-hoist-pattern[]=sb-*
public-hoist-pattern[]=*buf*
public-hoist-pattern[]=*@buf*
public-hoist-pattern[]=*@lit*
public-hoist-pattern[]=*@lit-labs*
public-hoist-pattern[]=turbo*
public-hoist-pattern[]=sucrase*
public-hoist-pattern[]=esbuild-register
public-hoist-pattern[]=@swc*
@buf:registry=https://buf.build/gen/npm/v1/
