name: "Deploy"

on:
  workflow_dispatch: {}
  workflow_call:
    inputs: {}
    secrets:
      ## Cloudflare: API Token
      CLOUDFLARE_API_TOKEN:
        required: true
        description: "Cloudflare API Token"

      ## Cloudflare: Account ID
      CLOUDFLARE_ACCOUNT:
        required: true
        description: "Cloudflare Account"

permissions:
  contents: read

jobs:
  ## Build: Web application, as a distribution. Upload as an artifact for deployment.
  build-dist:
    name: "Build: Distributions"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      artifact-id: ${{ steps.artifacts.outputs.artifact-id }}
      artifact-url: ${{ steps.artifacts.outputs.artifact-url }}
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          persist-credentials: false
      - name: "Setup: Node"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ vars.NODE_VERSION || '20' }}
      - name: "Setup: Bun"
        uses: oven-sh/setup-bun@d3603274aca5625baad52ec06108517a089cdd00 # v1.2.0
        with:
          bun-version: ${{ vars.BUN_VERSION || 'latest' }}
      - name: "Setup: PNPM"
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: ${{ vars.PNPM_VERSION || '8' }}
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: "Setup: Buildless"
        uses: buildless/setup@30e82389418c7f17046606183bc4c78b2c8913e0 # v1.0.2
      - name: "Build: Distribution"
        run: pnpm run dist
      - name: "Artifact: Workers & Site"
        id: artifacts
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: javamodules-dist-${{ github.sha }}
          retention-days: 7
          compression-level: 4
          overwrite: true
          path: |
            dist/*.*
            dist/**/*.*
            workers/*/build/*.*
            workers/*/build/**/*.*

  ## Deploy: Worker instances.
  deploy-workers:
    name: "Deploy: Workers"
    runs-on: ubuntu-latest
    needs: [build-dist]
    permissions:
      contents: read
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          persist-credentials: false
      - name: "Setup: Node"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ vars.NODE_VERSION || '20' }}
      - name: "Setup: Bun"
        uses: oven-sh/setup-bun@d3603274aca5625baad52ec06108517a089cdd00 # v1.2.0
        with:
          bun-version: ${{ vars.BUN_VERSION || 'latest' }}
      - name: "Setup: PNPM"
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: ${{ vars.PNPM_VERSION || '8' }}
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: "Artifacts: Deployment Distributions"
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 # v4.1.4
        with:
          name: ${{ needs.build-dist.outputs.artifact-id }}
      - name: "Deploy: Graph Worker"
        run: pnpm run --filter="@javamodules/graph" deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

  ## Deploy: Web application.
  deploy-app:
    name: "Deploy: Application"
    runs-on: ubuntu-latest
    needs: [build-dist, deploy-workers]
    permissions:
      contents: read
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          persist-credentials: false
      - name: "Setup: Node"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ vars.NODE_VERSION || '20' }}
      - name: "Setup: Bun"
        uses: oven-sh/setup-bun@d3603274aca5625baad52ec06108517a089cdd00 # v1.2.0
        with:
          bun-version: ${{ vars.BUN_VERSION || 'latest' }}
      - name: "Setup: PNPM"
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: ${{ vars.PNPM_VERSION || '8' }}
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: "Artifacts: Deployment Distributions"
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 # v4.1.4
        with:
          name: ${{ needs.build-dist.outputs.artifact-id }}
      - name: "Stubbed"
        run: "echo Site deploy is stubbed from Workers"
