name: "Deploy"

on:
  workflow_call: {}
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: "Setup: Checkout"
        uses: actions/checkout@v4
