name: Push

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: "Build"
    uses: ./.github/workflows/ci.build.yml

  deploy:
    name: "Deploy"
    uses: ./.github/workflows/ci.deploy.yml
